CONFIG_FIRMWARE_PRODUCT_ID="RT-N51U"
CONFIG_FIRMWARE_INCLUDE_OFFLOAD=y
CONFIG_FIRMWARE_INCLUDE_BWUSERS=y
CONFIG_FIRMWARE_ENABLE_USB=n
CONFIG_FIRMWARE_INCLUDE_SAMBA=n
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n
CONFIG_FIRMWARE_INCLUDE_5G=n
CONFIG_FIRMWARE_ENABLE_IPV6=n
CONFIG_FIRMWARE_INCLUDE_PRINTER=n
CONFIG_FIRMWARE_INCLUDE_FAT=n
CONFIG_FIRMWARE_INCLUDE_EXFAT=n
CONFIG_FIRMWARE_INCLUDE_NTFS=n
CONFIG_FIRMWARE_INCLUDE_EXT2=n
CONFIG_FIRMWARE_INCLUDE_EXT3=n
CONFIG_FIRMWARE_INCLUDE_EXT4=n
CONFIG_FIRMWARE_INCLUDE_PPTP=n
CONFIG_FIRMWARE_INCLUDE_L2TP=n
CONFIG_FIRMWARE_INCLUDE_IPSEC=n
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=n
CONFIG_FIRMWARE_INCLUDE_TORRENT=n
CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=n
CONFIG_FIRMWARE_INCLUDE_HTTPS=n
CONFIG_FIRMWARE_INCLUDE_SFTP=n
CONFIG_FIRMWARE_INCLUDE_FTP=n
